<div class = "container">
<div class="jumbotron center">
     

     <h1>¡Bienvenido a Parto.org! :)</h1>
     <p>
     <% if user_signed_in? %>
          # do something
     <% else %>
       <p>
         <%= link_to "Iniciar sesión", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Crear cuenta nueva", new_user_registration_path, class: "btn btn-primary btn-lg" %>

         <h2>Mira que chilero funciona!!</h2>
        
       </p>
  <% end %>  
</div>
</div>

