<div class = "container">
<div class="jumbotron center">
     

     <h1>¡Bienvenido a Parto.org!</h1>
     <p>
     <% if user_signed_in? %>
          # do something
     <% else %>
       <p>
         <%= link_to "Iniciar sesión", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Crear cuenta nueva", new_user_registration_path, class: "btn btn-primary btn-lg" %>

         <h2>Mira que chilero funciona!!</h2>

         <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d123536.74026247047!2d-90.49256045!3d14.62622005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sgt!4v1449621942174" width="600" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>

         <!--<iframe src="https://player.vimeo.com/video/82571491?color=fa0025&title=0&byline=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->

         

       </p>
  <% end %>  
</div>
</div>

